
.btn{
    display: inline-block;
    text-align: center;
    min-width: 151px;
    height: 50px;
    padding: 17px 36px 16px;
  
    background: var(--efbd68);
    border-radius: 50px;
  
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--333333);
  }
  .btn:hover{
    background: #DDA649;
  }