@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
	--efbd68: #edb24e;
	--ffb7a1: #ffb7a1;
	--ffbfbe: #ffbfbe;
	--919f88: #919f88;
	--c8cfd7: #c8cfd7;
	--95a1af: #95a1af;
	--333333: #333;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Nunito", sans-serif;
}

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 1806px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.btn{
  display: inline-block;
  text-align: center;
  min-width: 151px;
  height: 50px;
  padding: 17px 36px 16px;

  background: var(--efbd68);
  border-radius: 50px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--333333);
}
.btn:hover{
  background: #DDA649;
}

/* header */
.header {
}
.nav {
  padding-top: 47px;
}
.nav__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}

.nav__logo {
}
.nav__btn {
  text-align: right;
  /* background: var(--efbd68); */
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style-type: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: var(--333333);

}

.nav__list__item {
}

.nav__list__link{
  color: var(--333333);

}
.nav__logo{
  text-align: center;
}

.header{
  margin-bottom: 90px;
}


.header__grid{
  display: grid;
  grid-template-columns: 200px auto 200px;
  gap: 30px;

  align-items: end;
}

.scroll__text{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: var(--333333);
}

.scroll__text::before{
  content: "";
  width: 7px;
  height: 7px;
  display: inline-block;
  background-color: var(--333333);
  border-radius: 50%;

}

.scroll__text__right{
  flex-direction: row-reverse;


}

.header__img{
  position: relative;
  width: 534px;
  height: 802px;

  border-radius: 500px;
  overflow: hidden;
}

.header__img::after{
  content: "";
  display: block;
  
  background-image: linear-gradient(360deg, #2c2c2c -20%, rgba(217, 217, 217, 0) 50%);
  mix-blend-mode: multiply;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}



.header__img__wrapper {
  margin-bottom: 41px;
  position: relative; 

  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__img {
  position: relative; 
}


.header__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 110px;
  line-height: 91%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: var(--333333);
  
}

.header__title--img{
  color: #fff;
  width: 600px;
  
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;


  width: 906px;
  left: 50%;
  transform: translate(-50%, -30%);


}

.header__title--black{
  /* margin-top: -30px; */
  /* transform: translateY(-100%); */
  bottom: 59px;
  position: absolute;


}

.header__desc{
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 200%;
text-align: center;
color: var(--333333);

max-width: 830px;
margin: 0 auto;
}